body{
    background-color: #ECF9FF;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding:0;
}

h2{
    font-weight: normal;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h1{
    margin: 0;
    font-size: 4rem;
    font-family: 'Itim', cursive;
    line-height: 2;
   
}

.mountain{
    position:relative;
    text-align: center;
    
}
.cloud1{
    position: absolute;
    right: 20%;
    top: 25%;
}
.cloud2{
    position:absolute;
    left:20%;
    top: 15%
}
.title{
    margin: 100px auto 100px auto;
    color: #66BFBF;
}

.hobby-section{
    margin: 0 3rem 0 3rem;
}
.hobbies-column h3{
  padding: 1rem 1rem;
  text-align: left;
  font-size: 2rem;
  padding-left: 53rem;
}
.hobbies-column p{
   font-size: 1.2rem;
   text-align: justify;
  
}

.title-hobbies{
    margin-top: 15%;
    font-size: 3.5rem;
    color: #66BFBF;
    margin-bottom: 2%;

}

.hobbies-column img{
    position: relative;
    margin-right: 40px;
    width: 10%;
    float: left;
}
.cooking-img{
    top: 40px;
    

}
.badminton-img{
    top: 40px;

}

.games-img{
    top: 40px;
}
